*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main{
  width: 90%;
  max-width: 70rem;
  margin: auto;
}

.cards ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cards li{
  width: 10rem;
  text-align: center;
}

.cards li img{
  width: 7rem;
  height: 8rem;
  object-fit: contain;
}

.legendary{
  margin: 3rem auto;
}

.legendary menu{
  margin: 1rem 0;
  display: flex;
  padding: 0;
  gap: 0.5rem;
  list-style: none;
}

.legendary menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  background-color: gold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.whitespace{
  height: 30rem;
  width: 100%;
}

