*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main{
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

.cards ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2;
  flex-wrap: wrap;
  justify-content: center;
}

.cards li{
  width: 10rem;
  text-align: center;
}

.cards li img{
  width: 7rem;
}


